{%- from "gerrit_ci/gerrit/settings.sls" import gerrit with context -%}
[gerrit]
    basePath = git
    canonicalWebUrl = {{ gerrit.canonicalWebUrl }}

[database]
    type = mysql
    database = {{ gerrit.dbname }}
    username = {{ gerrit.dbuser }}
    password = {{ gerrit.dbpassword }}
    hostname = {{ gerrit.dbhost }}

[auth]
    type = OPENID_SSO
    openIdSsoUrl = https://login.launchpad.net/+openid

[sendemail]
    smtpServer = localhost

[container]
    user = gerrit2
    javaHome = /usr/lib/jvm/java-7-openjdk-amd64/jre

[sshd]
    listenAddress = {{ gerrit.sshdlistenaddress }}

[httpd]
    listenUrl = {{ gerrit.httpdlistenurl }}

[cache]
    directory = cache
